<nav class="bg-violet-800 py-4">
    <div class="container mx-auto flex justify-between items-center ">
      <a routerLink="/" class="text-gold text-gray-300 text-2xl font-bold">Lorcana</a>
      <ul id="navbar" class="flex space-x-6 ">
        <li><button routerLink="/cards" class="text-white hover:text-gold">Cartas</button></li>        <li><a href="#" class="text-white hover:text-gold">Colección</a></li>
        <li><a href="#" class="text-white hover:text-gold">Construcción de Mazos</a></li>
        <!--<li><a href="#" class="text-white hover:text-gold">Victorias/Derrotas</a></li>-->
        <li><a href="login" class="text-white hover:text-gold"> Iniciar sesion</a></li>
      </ul>
    </div>
  </nav>