<nav class="bg-darkPurple py-4">
    <div class="container mx-auto flex justify-between items-center">
      <a routerLink="/" class="text-gold text-2xl font-bold">[Nombre de tu TCG]</a>
      <ul class="flex space-x-6">
        <li><a routerLink="/cards" class="text-white hover:text-gold">Cartas</a></li>
        <li><a href="#" class="text-white hover:text-gold">Colección</a></li>
        <li><a href="#" class="text-white hover:text-gold">Construcción de Mazos</a></li>
        <li><a href="#" class="text-white hover:text-gold">Victorias/Derrotas</a></li>
        <li><a href="#" class="text-white hover:text-gold">Iniciar Sesión</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>