  <app-navbar></app-navbar>

  <div class="container mx-auto py-8">
    <header class="text-center">
      <h1 class="text-3xl text-gray-300 font-bold mb-4">Bienvenido a Lorcana</h1>
      <p class="text-gray-300">Tu juego de cartas coleccionables de Disney</p>
    </header>
  
    <section class="mt-12">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div>
          <img src="preludio.jpg" alt="Imagen Principal del TCG" class="rounded-lg shadow-md">
        </div>
        <div>
          <h2 class="text-2xl text-gray-300 font-semibold mb-4">¿Qué es Lorcana?</h2>
          <p class="text-gray-300 mb-4">
            Lorcana es un juego de cartas donde Colección persdonajes, momentos historicos de tus peliculas favoritas u objetos de estas.
            Ten un control de tus cartas y esta al día de todas las que hay.
          </p>
          <ul class="list-disc list-inside text-gray-300">
            <li>Colecciona cartas únicas</li>
            <li>Construye mazos</li>
            <li>No te olvides de las ultimas cartas que salen</li>
          </ul>
        </div>
      </div>
    </section>
  
    <section class="mt-12 text-center">
      <h2 class="text-2xl text-gray-300 font-semibold mb-4">¡Comienza tu aventura hoy!</h2>
      <div class="inline-block">
        <!-- ...existing code... -->
<a href="https://www.youtube.com/watch?v=7QFUaJ7lPgs" target="_blank" rel="noopener noreferrer" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-4">
  Aprende a jugar
</a>
<a href="https://www.cardmarket.com/es/Lorcana" target="_blank" rel="noopener noreferrer" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
  Comprar cartas
</a>
<!-- ...existing code... -->
      </div>
    </section>
  </div>
